// Custom styles.
:root {
  --card-bg-color: #f5f5f5;
}

.posts-expand .post-body ul li {
  text-align: initial;
}

//TOC目录默认全部展开
.post-toc .nav .nav-child {
  display: block;
}

//修改busuanzi数据颜色
.footer .busuanzi-value {
  color: #1890ff;
}

/* 文章内链接文本样式 */
#posts a {
  &:not(.btn) {
    transition: color 0.2s;
    &:hover {
      color: #fc6423;
      border-bottom-color: #fc6423;
    }
  }
}
.post-body a {
  &:not(.btn) {
    color: #1890ff;
    border-bottom: 1px solid #1890ff;
  }
}


//自定义回到顶部样式
.back-to-top {
  right: 60px;
  width: 70px;  //图片素材宽度
  height: 900px;  //图片素材高度
  top: -900px;
  bottom: unset;
  transition: all .5s ease-in-out;
  background: url("/images/scroll.png");

  //隐藏箭头图标
  > i {
    display: none;
  }

  &.back-to-top-on {
    bottom: unset;
    top: 100vh < (900px + 200px) ? calc( 100vh - 900px - 200px ) : 0px;
  }
}


/*视频挂载*/

.iframe_video {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .iframe_video {
    height: 15em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .iframe_video {
    height: 20em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .iframe_video {
    height: 30em;
  }
}

@media only screen and (min-width: 1200px) {
  .iframe_video {
    height: 40em;
  }
}

.iframe_cross {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%
}

.iframe_cross iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0
}
