// Custom styles.
:root {
  --card-bg-color: #f5f5f5;
}

//修改busuanzi数据颜色
.footer .busuanzi-value {
  color: #1890ff;
}

/* 文章内链接文本样式 */
#posts a {
  &:not(.btn) {
    transition: color 0.2s;
    &:hover {
      color: #fc6423;
      border-bottom-color: #fc6423;
    }
  }
}

.post-body a {
  &:not(.btn) {
    color: #1890ff;
    border-bottom: 1px solid #1890ff;
  }
}
