// Custom styles.

//修改busuanzi数据颜色
.footer .busuanzi-value {
  color: #1890ff;
}

/* 文章内链接文本样式 */
.post-body a:not(.btn) {
  color: #1890ff;
  border-bottom: none;
  border-bottom: 1px solid #1890ff;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
